@import './globe.css';

.linno-hero {
    @apply relative lg:p-[80px_0_120px_0] sm:p-[50px_0_80px_0] p-[40px_0_60px_0];

}
.linno-hero .linno-container {
    @apply lg:absolute relative top-0 lg:left-1/2 lg:-translate-x-1/2 w-full h-full lg:flex lg:flex-col items-start justify-center lg:pt-[80px] lg:pb-[120px];
}

.hero-content-wrapper {
    @apply 2xl:w-[55%] lg:w-[50%] lg:pr-[30px];
}

.linno-hero .linno-hero-image {
    @apply 2xl:w-[calc(100%-140px)] xl:w-[calc(100%-60px)] w-[calc(100%-48px)] mx-auto lg:mt-0 sm:mt-[60px] mt-[30px];
}
.linno-hero-image .hero-image-wrapper {
    @apply flex flex-wrap items-end sm:gap-[20px] gap-[10px] max-w-[785px] 2xl:w-[45%] lg:w-[50%] ml-auto;

}
.linno-hero-image .single-hero-image {
    @apply sm:mb-[20px] mb-[10px];
}
.linno-hero-image .single-hero-image:last-child {
    margin-bottom: 0;
}
.linno-hero-image .single-hero-image img {
    @apply sm:rounded-[20px] rounded-[12px] block w-full h-auto;
}
.linno-hero-image .iamge-side1 {
    @apply sm:w-[calc(56%-20px)] w-[calc(56%-10px)];
}
.linno-hero-image .iamge-side2 {
    width: 44%;
}

.linno-hero-image .hero-target {
    @apply sm:mb-[20px] mb-[10px] text-center;
}
.linno-hero-image .hero-target img {
    display: block;
    margin: 0 auto 10px;
    position: relative;
    left: -20px;

    @apply lg:w-auto sm:w-[100px] w-[80px];
}
.linno-hero-image .hero-target span {
    @apply text-[#0B0A3D] text-center font-inter lg:text-[20px] text-[14px] font-medium leading-[1.2] tracking-[0.2px] lg:w-[100px] block mx-auto;

}

.linno-hero .linno-hero-title {
    @apply 2xl:text-[64px] xl:text-[52px] sm:text-[40px] text-[34px] font-normal capitalize tracking-[-0.64px] font-sora leading-tight text-[#0B0A3D] max-w-[610px];
}

.linno-hero .linno-hero-title .title-gradient {
    @apply font-bold;
}

/* Brand Section Start */
.linno-home-page .linno-home-brand-section {
    background: #FFF;
}

.linno-home-page .linno-products-section {
    background: #FBFBFF;
}

.linno-products-card {
    border-radius: 20px;
    border: 1px solid #E7E9F5;
    background: #FFF;
    box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
    backdrop-filter: blur(5px);
}

.linno-products-card:hover {
    background: radial-gradient(116.41% 116.06% at 4.96% 3.28%, rgba(52, 51, 254, 0.12) 13.46%, rgba(43, 96, 211, 0.12) 45.25%, rgba(38, 134, 189, 0.12) 64.06%, rgba(33, 240, 168, 0.12) 100%);
}

.linno-products-card:hover .product-title {
    background: linear-gradient(91deg, #3433FE 23.76%, #21F0A8 41.75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.linno-products-card:hover .products-link-btn span {
    color: #3433FE;
}

.linno-products-card:hover .products-link-btn svg path {
    stroke: #3433FE;
}
/* Brand Section End */

/* Technology Section Start */
.tab {
    border-radius: 12px;
    border: 0.664px solid #EDEDED;
    background: white;
    color: #585A65;
    font-family: 'sora', sans-serif;
    padding: 14px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tab.active-tab {
    border-radius: 12px;
    border: 0.664px solid var(--title-gradient, #3433FE);
    background: linear-gradient(103deg, #3433FE 57.85%, #21F0A8 98%);
    color: #FFF;
}

.tab-content-card  {
    border-radius: 20px;
    border: 1px solid #E7E9F5;
    background: #FFF;
    box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
    backdrop-filter: blur(5px);
    background: white;

    @apply py-6 md:py-10 px-5 md:py-9 flex flex-col justify-between items-start p-6 h-[200px] md:h-[260px]; 
}
/* Technology Section End */