:root {
  --linno-primary-color: #3433FE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
}

.linno-new-container {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1399px) {
  .linno-new-container {
    max-width: 1170px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-new-container {
    max-width: 960px;
  }
}
@media screen and (max-width: 991px) {
  .linno-new-container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .linno-new-container {
    max-width: 540px;
  }
}

.title-gradient {
  background: linear-gradient(90deg, #3433FE 56.73%, #0DF26B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.linno-section-title {
  margin-bottom: 65px;
}
@media screen and (max-width: 1199px) {
  .linno-section-title {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 991px) {
  .linno-section-title {
    margin-bottom: 40px;
  }
}
.linno-section-title h2 {
  font-size: 42px;
  line-height: 1.3;
  color: #0B0A3D;
  margin-bottom: 14px;
}
@media screen and (max-width: 1199px) {
  .linno-section-title h2 {
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  .linno-section-title h2 {
    font-size: 30px;
  }
}
.linno-section-title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #5E658B;
  max-width: 950px;
}
@media screen and (max-width: 1199px) {
  .linno-section-title p {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .linno-section-title p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .linno-section-title p {
    font-size: 15px;
  }
}

.linno-section-cta {
  text-align: center;
}
.linno-section-cta .linno-cta-btn {
  color: #FFF;
  font-family: "Sora", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  border-radius: 50px;
  padding: 13px 20px 11px;
}
@media screen and (max-width: 1199px) {
  .linno-section-cta .linno-cta-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .linno-section-cta .linno-cta-btn {
    font-size: 16px;
  }
  .linno-section-cta .linno-cta-btn svg {
    width: 24px;
    height: auto;
  }
}
.linno-section-cta .linno-cta-btn > span {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 1199px) {
  .linno-section-cta .linno-cta-btn > span {
    gap: 15px;
  }
}

.linno-grid-line {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: -1;
}
.linno-grid-line .line-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
}
.linno-grid-line .line-wrapper .single-line {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #F2F2F2;
}
.linno-grid-line .line-wrapper .single-line.line-left {
  left: 0;
}
.linno-grid-line .line-wrapper .single-line.line-right {
  right: 0;
}

.linno-section-separator {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  height: 1px;
  background-color: #F2F2F2;
  display: block;
}
.linno-section-separator .right-line,
.linno-section-separator .left-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 100%;
  background-color: var(--linno-primary-color);
}
.linno-section-separator .right-line::before,
.linno-section-separator .left-line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 24px;
  background-color: var(--linno-primary-color);
}
.linno-section-separator .right-line {
  left: inherit;
  right: 0;
}
.linno-section-separator .right-line:before {
  left: inherit;
  right: 0;
}

.linno-header {
  transition: all 0.3s ease;
}
.linno-header .linno-navigation-wrapper {
  transition: all 0.3s ease;
}
.linno-header.fixed-header {
  background-color: #fff;
  box-shadow: 0 0 11px 0px rgba(204, 202, 202, 0.4392156863);
}
.linno-header.fixed-header .linno-navigation-wrapper {
  padding: 16px 0;
}

@media screen and (max-width: 1023px) {
  .linno-header.fixed-header .linno-navigation-wrapper {
    padding: 10px 0 7px;
  }
}
.linno-home-page .linno-brands {
  padding: 80px 0 110px;
}

.linno-brands .brand-item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.linno-brands .single-brand-item {
  border-radius: 20px;
  border: 1px solid #E7E9F5;
  background-color: #FFF;
  box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
  backdrop-filter: blur(5px);
  padding: 35px 35px 30px;
  display: flex;
  flex-flow: column;
}
.linno-brands .single-brand-item .brand-item-title {
  font-size: 20px;
  line-height: 1.3;
  color: #0b0b35;
  font-weight: 600;
  margin-top: 50px;
}
.linno-brands .single-brand-item .brand-item-description {
  color: #585A65;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 30px;
}
.linno-brands .single-brand-item .brand-item-link {
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  color: var(--linno-primary-color);
  font-size: 17px;
  font-weight: 400;
  font-family: "Sora", sans-serif;
}

@media screen and (max-width: 1399px) {
  .linno-home-page .linno-brands {
    padding: 70px 0 90px;
  }
  .linno-brands .brand-item-wrapper {
    gap: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-brands .brand-item-wrapper {
    gap: 24px;
  }
}
@media screen and (max-width: 991px) {
  .linno-home-page .linno-brands {
    padding: 50px 0 60px;
  }
  .linno-brands .brand-item-wrapper {
    gap: 24px;
  }
  .linno-brands .single-brand-item {
    border-radius: 14px;
    padding: 25px 24px 25px;
  }
  .linno-brands .single-brand-item .brand-item-title {
    font-size: 18px;
    margin-top: 30px;
  }
  .linno-brands .single-brand-item .brand-item-description {
    font-size: 16px;
  }
  .linno-brands .single-brand-item .brand-item-link {
    font-size: 15px;
  }
  .linno-brands .single-brand-item .brand-item-link svg {
    width: 11px;
    height: auto;
    position: relative;
    top: 1px;
  }
}
@media screen and (max-width: 767px) {
  .linno-brands .brand-item-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .linno-brands .single-brand-item {
    border-radius: 12px;
    padding: 20px 20px 20px;
  }
  .linno-brands .brand-item-logo {
    max-width: 140px;
    height: auto;
  }
}
.linno-home-page .linno-products {
  padding: 80px 0 100px;
  background-color: #FBFBFF;
}

.linno-products .linno-products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.linno-products .linno-single-product {
  display: flex;
  flex-direction: column;
  padding: 35px;
  border-radius: 20px;
  border: 1px solid #E7E9F5;
  background-color: #FFF;
  box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
  backdrop-filter: blur(5px);
  height: 100%;
  position: relative;
}
.linno-products .linno-single-product .gradient-overlay {
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: radial-gradient(116.41% 116.06% at 4.96% 3.28%, rgba(52, 51, 254, 0.1215686275) 13.46%, rgba(43, 96, 211, 0.1215686275) 45.25%, rgba(38, 134, 189, 0.1215686275) 64.06%, rgba(13, 242, 107, 0.1215686275) 100%);
  box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.linno-products .linno-single-product .product-logo {
  position: relative;
  width: 62px;
  height: 58px;
  background: #F8F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}
.linno-products .linno-single-product .product-logo svg {
  display: block;
  position: relative;
}
.linno-products .linno-single-product .logo-gradient-bg {
  position: absolute;
  inset: 0;
  border-radius: 10px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(61deg, #3433FE 10%, #0DF26B 99%) border-box;
  border: 1px solid transparent;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.linno-products .linno-single-product .product-title {
  color: #0B0A3D;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  position: relative;
}
.linno-products .linno-single-product .product-title::before {
  content: attr(data-title);
  position: absolute;
  color: red;
  background: linear-gradient(90deg, #3433FE 15%, #0DF26B 104%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.linno-products .linno-single-product .product-description {
  color: #585A65;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 16px;
  margin-bottom: 60px;
  position: relative;
}
.linno-products .linno-single-product .learn-more-link {
  position: relative;
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  color: #585A65;
  font-size: 16px;
  font-weight: 400;
  font-family: "Sora", sans-serif;
  transition: all 0.3s ease;
}
.linno-products .linno-single-product .learn-more-link path {
  transition: all 0.3s ease;
}
.linno-products .linno-single-product:hover .gradient-overlay {
  opacity: 1;
  visibility: visible;
}
.linno-products .linno-single-product:hover .product-logo {
  background-color: #fff;
}
.linno-products .linno-single-product:hover .logo-gradient-bg {
  opacity: 1;
  visibility: visible;
}
.linno-products .linno-single-product:hover .product-title:before {
  opacity: 1;
  visibility: visible;
}
.linno-products .linno-single-product:hover .learn-more-link {
  color: var(--linno-primary-color);
}
.linno-products .linno-single-product:hover .learn-more-link path {
  stroke: var(--linno-primary-color);
}

@media screen and (max-width: 1399px) {
  .linno-home-page .linno-products {
    padding: 70px 0 90px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-products .linno-products-wrapper {
    gap: 20px;
  }
  .linno-products .linno-single-product {
    padding: 24px;
    border-radius: 14px;
  }
  .linno-products .linno-single-product .product-title {
    font-size: 22px;
  }
  .linno-products .linno-single-product .gradient-overlay {
    border-radius: 14px;
  }
  .linno-products .linno-single-product .learn-more-link {
    font-size: 15px;
  }
}
@media screen and (max-width: 991px) {
  .linno-home-page .linno-products {
    padding: 50px 0 70px;
  }
  .linno-products .linno-products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .linno-products .linno-single-product .product-description {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .linno-products .linno-products-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .linno-products .linno-single-product .product-title {
    font-size: 20px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 575px) {
  .linno-products .linno-single-product {
    padding: 20px;
  }
}
.linno-home-page .linno-life {
  padding: 110px 0 80px;
}

.linno-life .linno-life-gallery {
  display: flex;
  align-items: center;
  gap: 24px;
}
.linno-life .linno-life-gallery-item figure {
  display: block;
  margin-bottom: 16px;
}
.linno-life .linno-life-gallery-item figure:last-child {
  margin-bottom: 0;
}
.linno-life .linno-life-gallery-item img {
  display: block;
  border-radius: 12px;
}
.linno-life .linno-life-gallery-item.gallery-item-3 img {
  border-radius: 14px;
}
.linno-life .linno-section-cta {
  margin-top: 70px;
}

@media screen and (max-width: 1399px) {
  .linno-home-page .linno-life {
    padding: 90px 0 70px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-home-page .linno-life {
    padding: 70px 0 60px;
  }
  .linno-life .linno-life-gallery {
    gap: 14px;
  }
  .linno-life .linno-life-gallery-item.gallery-item-3 img {
    border-radius: 12px;
  }
  .linno-life .linno-section-cta {
    margin-top: 40px;
  }
}
@media screen and (max-width: 991px) {
  .linno-home-page .linno-life {
    padding: 50px 0 60px;
  }
  .linno-life .linno-life-gallery {
    gap: 10px;
  }
  .linno-life .linno-life-gallery-item figure {
    margin-bottom: 10px;
  }
  .linno-life .linno-life-gallery-item figure img {
    border-radius: 10px;
  }
  .linno-life .linno-life-gallery-item.gallery-item-3 img {
    border-radius: 10px;
  }
}
@media screen and (max-width: 425px) {
  .linno-life .linno-life-gallery {
    gap: 5px;
  }
  .linno-life .linno-life-gallery-item figure {
    margin-bottom: 5px;
  }
}
.linno-technology {
  padding: 70px 0 130px;
}
.linno-technology .linno-section-separator {
  margin-top: 80px;
}

@media screen and (max-width: 1399px) {
  .linno-technology {
    padding: 60px 0 100px;
  }
  .linno-technology .linno-section-separator {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-technology {
    padding: 50px 0 80px;
  }
}
@media screen and (max-width: 991px) {
  .linno-technology {
    padding: 50px 0 60px;
  }
  .linno-technology .linno-section-separator {
    margin-top: 40px;
  }
}
.linno-about-page .linno-about-hero {
  padding: 120px 0 90px;
}

.linno-about-hero .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.linno-about-hero .linno-section-title {
  width: calc(50% - 50px);
  max-width: 400px;
  margin-bottom: 0;
}
.linno-about-hero .linno-section-title h1 {
  color: #0F0E55;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}
.linno-about-hero .linno-about-description {
  max-width: 505px;
  width: 50%;
}
.linno-about-hero .linno-about-description p {
  color: #585A65;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.linno-about-hero .linno-about-description .linno-section-cta {
  text-align: left;
}
.linno-about-hero .linno-about-description .linno-section-cta .linno-cta-btn {
  gap: 30px;
}

@media screen and (max-width: 1399px) {
  .linno-about-page .linno-about-hero {
    padding: 100px 0 90px;
  }
  .linno-about-hero .linno-section-title h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-about-page .linno-about-hero {
    padding: 70px 0 70px;
  }
  .linno-about-hero .linno-section-title h1 {
    font-size: 50px;
  }
  .linno-about-hero .linno-about-description p {
    font-size: 18px;
  }
  .linno-about-hero .linno-about-description .linno-section-cta .linno-cta-btn {
    gap: 8px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-hero .content-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .linno-about-hero .linno-section-title {
    width: 100%;
    max-width: 100%;
  }
  .linno-about-hero .linno-section-title h1 {
    font-size: 42px;
  }
  .linno-about-hero .linno-about-description {
    max-width: 100%;
    width: 100%;
  }
  .linno-about-hero .linno-about-description p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .linno-about-page .linno-about-hero {
    padding: 50px 0 60px;
  }
  .linno-about-hero .linno-section-title h1 {
    font-size: 40px;
  }
}
.linno-facts {
  padding: 140px 0 100px;
}
.linno-facts .facts-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.linno-facts .single-fact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.linno-facts .single-fact .fact-number {
  background: linear-gradient(90deg, #3433FE 56.73%, #0DF26B 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
}
.linno-facts .single-fact .fact-title {
  color: #0B0A3D;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  display: block;
}

@media screen and (max-width: 1399px) {
  .linno-facts {
    padding: 113px 0 80px;
  }
  .linno-facts .single-fact {
    gap: 30px;
  }
  .linno-facts .single-fact .fact-title {
    font-size: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-facts {
    padding: 60px 0 60px;
  }
  .linno-facts .single-fact {
    gap: 20px;
  }
  .linno-facts .single-fact .fact-number {
    font-size: 42px;
  }
  .linno-facts .single-fact .fact-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .linno-facts {
    padding: 50px 0 50px;
  }
  .linno-facts .facts-wrapper {
    gap: 18px;
  }
  .linno-facts .single-fact {
    gap: 15px;
  }
  .linno-facts .single-fact .fact-number {
    font-size: 32px;
  }
  .linno-facts .single-fact .fact-title {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  .linno-facts .facts-wrapper {
    gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .linno-facts .facts-wrapper {
    row-gap: 30px;
  }
  .linno-facts .single-fact .fact-number {
    font-size: 28px;
  }
  .linno-facts .single-fact .fact-title {
    font-size: 13px;
  }
}
.linno-about-page .linno-existance {
  padding: 75px 0 90px;
}

.linno-existance .linno-section-title .light-text {
  color: #0B0A3D;
}
.linno-existance .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 120px;
  justify-content: space-between;
}
.linno-existance .content-wrapper .content-left {
  width: calc(50% - 65px);
  padding-left: 45px;
}
.linno-existance .content-wrapper .content-right {
  width: calc(50% - 65px);
}
.linno-existance .content-wrapper .questions li {
  color: #0B0A3D;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 36px;
  position: relative;
  padding-left: 44px;
}
.linno-existance .content-wrapper .questions li:last-child {
  margin-bottom: 0;
}
.linno-existance .content-wrapper .questions li:before {
  content: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMjcgMjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iIzM0MzNGRSIgZD0iTTE0Ljk1MyAxOS43OTdhMS40NTMgMS40NTMgMCAxMS0yLjkwNiAwIDEuNDUzIDEuNDUzIDAgMDEyLjkwNiAwek0xMy41IDYuNzE5Yy0yLjY3MSAwLTQuODQ0IDEuOTU1LTQuODQ0IDQuMzZ2LjQ4M2EuOTY5Ljk2OSAwIDAwMS45MzggMHYtLjQ4NGMwLTEuMzMyIDEuMzA0LTIuNDIyIDIuOTA2LTIuNDIyczIuOTA2IDEuMDkgMi45MDYgMi40MjJTMTUuMTAyIDEzLjUgMTMuNSAxMy41YS45Ny45NyAwIDAwLS45NjkuOTY5di45NjlhLjk2OS45NjkgMCAxMDEuOTM4IDB2LS4wODhjMi4yMDgtLjQwNSAzLjg3NS0yLjE2NyAzLjg3NS00LjI3MiAwLTIuNDA0LTIuMTczLTQuMzYtNC44NDQtNC4zNnpNMjYuMDk0IDEzLjVBMTIuNTk0IDEyLjU5NCAwIDExMTMuNS45MDYgMTIuNjA3IDEyLjYwNyAwIDAxMjYuMDk0IDEzLjV6bS0xLjkzOCAwQTEwLjY1NiAxMC42NTYgMCAxMDEzLjUgMjQuMTU2IDEwLjY2OSAxMC42NjkgMCAwMDI0LjE1NiAxMy41eiIvPjwvc3ZnPg==");
  position: absolute;
  top: 5px;
  left: 0;
  width: 27px;
  height: auto;
  display: block;
}
.linno-existance .content-wrapper .question-ans {
  color: #585A65;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 40px;
  padding-left: 45px;
}

@media screen and (max-width: 1399px) {
  .linno-existance .content-wrapper .questions li {
    font-size: 22px;
  }
  .linno-existance .content-wrapper .question-ans {
    font-size: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-about-page .linno-existance {
    padding: 55px 0 70px;
  }
  .linno-existance .content-wrapper {
    gap: 60px;
  }
  .linno-existance .content-wrapper .content-left {
    width: calc(50% - 30px);
    padding-left: 0;
  }
  .linno-existance .content-wrapper .content-left img {
    max-width: 380px;
    height: auto;
  }
  .linno-existance .content-wrapper .content-right {
    width: calc(50% - 30px);
  }
  .linno-existance .content-wrapper .questions li {
    font-size: 18px;
    margin-bottom: 16px;
    padding-left: 34px;
  }
  .linno-existance .content-wrapper .questions li:before {
    width: 20px;
  }
  .linno-existance .content-wrapper .question-ans {
    font-size: 18px;
    margin-top: 30px;
    padding-left: 34px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-page .linno-existance {
    padding: 45px 0 60px;
  }
  .linno-existance .content-wrapper {
    gap: 30px;
  }
  .linno-existance .content-wrapper .content-left {
    width: calc(50% - 15px);
  }
  .linno-existance .content-wrapper .content-right {
    width: calc(50% - 15px);
  }
  .linno-existance .content-wrapper .content-left img {
    max-width: 290px;
    width: 100%;
    height: auto;
  }
  .linno-existance .content-wrapper .questions li {
    font-size: 16px;
  }
  .linno-existance .content-wrapper .question-ans {
    font-size: 16px;
    margin-top: 24px;
  }
}
@media screen and (max-width: 767px) {
  .linno-existance .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .linno-existance .content-wrapper .content-left {
    width: 100%;
  }
  .linno-existance .content-wrapper .content-right {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .linno-existance .content-wrapper .content-left img {
    max-width: 200px;
  }
}
.linno-about-page .linno-journey {
  padding: 80px 0 80px;
}

.linno-journey .linno-section-title {
  margin-bottom: 0;
}
.linno-journey .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 120px;
  justify-content: space-between;
}
.linno-journey .content-wrapper .content-left {
  width: calc(50% - 60px);
  max-width: 560px;
}
.linno-journey .content-wrapper .content-right {
  width: calc(50% - 60px);
}
.linno-journey .journey-image-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 550px;
}
.linno-journey .journey-image-wrapper .journey-single-image img {
  display: block;
  border-radius: 36px;
  width: 100%;
  height: auto;
}
.linno-journey .journey-image-wrapper .journey-single-image:nth-child(2) img {
  border-radius: 50%;
}

@media screen and (max-width: 1199px) {
  .linno-about-page .linno-journey {
    padding: 70px 0;
  }
  .linno-journey .content-wrapper {
    gap: 60px;
  }
  .linno-journey .content-wrapper .content-left {
    width: calc(50% - 30px);
  }
  .linno-journey .content-wrapper .content-right {
    width: calc(50% - 30px);
  }
  .linno-journey .journey-image-wrapper .journey-single-image img {
    border-radius: 20px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-page .linno-journey {
    padding: 60px 0;
  }
  .linno-journey .content-wrapper {
    gap: 30px;
  }
  .linno-journey .content-wrapper .content-left {
    width: calc(50% - 15px);
  }
  .linno-journey .content-wrapper .content-right {
    width: calc(50% - 15px);
  }
  .linno-journey .journey-image-wrapper {
    gap: 14px;
  }
  .linno-journey .journey-image-wrapper .journey-single-image img {
    border-radius: 14px;
  }
}
@media screen and (max-width: 767px) {
  .linno-about-page .linno-journey {
    padding: 50px 0 60px;
  }
  .linno-journey .linno-section-title h2 br {
    display: none;
  }
  .linno-journey .content-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .linno-journey .content-wrapper .content-left {
    width: 100%;
  }
  .linno-journey .content-wrapper .content-right {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .linno-journey .journey-image-wrapper {
    gap: 10px;
  }
}
.linno-about-page .linno-solution {
  padding: 70px 0 80px;
}

.linno-solution .linno-section-title .note {
  color: #585A65;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 36px;
}
.linno-solution .solution-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 20px;
}
.linno-solution .single-solution {
  border-radius: 20px;
  border: 1px solid #E7E9F5;
  background: #FFF;
  box-shadow: 0 10px 50px 0 rgba(52, 51, 254, 0.05);
  backdrop-filter: blur(5px);
  padding: 35px;
  display: flex;
  flex-direction: column;
}
.linno-solution .single-solution > img {
  display: block;
  margin: 0 auto 45px;
}
.linno-solution .single-solution h3 {
  color: #0B0A3D;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 13px;
}
.linno-solution .single-solution p {
  color: #585A65;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 50px;
}
.linno-solution .single-solution .solution-link {
  margin-top: auto;
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  color: #585A65;
  font-size: 16px;
  font-weight: 400;
  font-family: "Sora", sans-serif;
  transition: all 0.3s ease;
}
.linno-solution .single-solution .solution-link path {
  transition: all 0.3s ease;
}
.linno-solution .single-solution .solution-link:hover {
  color: var(--linno-primary-color);
}
.linno-solution .single-solution .solution-link:hover path {
  stroke: var(--linno-primary-color);
}
.linno-solution .single-solution.tryon-ar {
  grid-column: 1/-1;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.linno-solution .single-solution.tryon-ar .tryon-ar-content {
  width: calc(60% - 40px);
  max-width: 603px;
}
.linno-solution .single-solution.tryon-ar .tryon-ar-content p {
  margin: 0;
}
.linno-solution .single-solution.tryon-ar .tryon-ar-logo {
  width: 40%;
}
.linno-solution .single-solution.tryon-ar .tryon-ar-logo img {
  display: block;
  margin: 0 0 0 auto;
  border-radius: 10px;
}

@media screen and (max-width: 1399px) {
  .linno-solution .linno-section-title .note {
    font-size: 22px;
  }
  .linno-solution .single-solution {
    padding: 30px;
  }
  .linno-solution .single-solution h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-about-page .linno-solution {
    padding: 60px 0 70px;
  }
  .linno-solution .linno-section-title .note {
    font-size: 18px;
    margin-top: 22px;
  }
  .linno-solution .solution-wrapper {
    gap: 20px;
  }
  .linno-solution .single-solution {
    padding: 20px;
    border-radius: 14px;
  }
  .linno-solution .single-solution h3 {
    font-size: 20px;
  }
  .linno-solution .single-solution p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-page .linno-solution {
    padding: 50px 0 60px;
  }
  .linno-solution .solution-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .linno-solution .single-solution:nth-child(3) {
    grid-column: 1/-1;
  }
}
@media screen and (max-width: 767px) {
  .linno-about-page .linno-solution {
    padding: 50px 0 60px;
  }
  .linno-solution .linno-section-title .note {
    font-size: 16px;
  }
  .linno-solution .solution-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .linno-solution .single-solution > img {
    margin: 0 auto 25px;
  }
}
@media screen and (max-width: 575px) {
  .linno-solution .single-solution.tryon-ar {
    gap: 30px;
    flex-direction: column;
    align-items: flex-start;
  }
  .linno-solution .single-solution.tryon-ar .tryon-ar-logo {
    width: 80%;
  }
  .linno-solution .single-solution.tryon-ar .tryon-ar-logo img {
    margin: 0;
  }
  .linno-solution .single-solution.tryon-ar .tryon-ar-content {
    width: 100%;
  }
}
.linno-about-page .linno-quote {
  padding: 80px 0 90px;
}

.linno-quote .quote-text {
  color: #0B0A3D;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  text-transform: capitalize;
}

@media screen and (max-width: 1399px) {
  .linno-about-page .linno-quote {
    padding: 60px 0 70px;
  }
  .linno-quote .quote-text {
    font-size: 24px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-page .linno-quote {
    padding: 50px 0 50px;
  }
  .linno-quote .quote-text {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .linno-quote .quote-text {
    font-size: 16px;
  }
}
.linno-about-page .linno-team {
  padding: 70px 0 80px;
}

.linno-team .linno-section-title p {
  max-width: 680px;
}

@media screen and (max-width: 1199px) {
  .linno-about-page .linno-team {
    padding: 60px 0 70px;
  }
  .linno-team .linno-section-title p {
    max-width: 580px;
  }
}
@media screen and (max-width: 1023px) and (min-width: 320px) {
  .linno-about-page .linno-team {
    padding: 50px 0 60px;
  }
  .linno-team .filter-wrapper {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
  }
  .linno-team .filter-wrapper .single-filter-item {
    margin: 0;
    border: 1px solid #e1e1e1;
    padding: 7px 13px;
    border-radius: 6px;
  }
  .linno-team .filter-wrapper .single-filter-item.active {
    border-color: var(--linno-primary-color);
  }
  .linno-team .single-filter-item .dash-line {
    display: none;
  }
}
.linno-about-page .linno-partof-us {
  padding: 70px 0 130px;
}

.linno-partof-us .linno-section-title strong {
  color: #5E658B;
}
.linno-partof-us .partof-us-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.linno-partof-us .single-partof-us {
  border-radius: 20px;
  border: 1px solid #E7E9F5;
  background: #FFF;
  box-shadow: 0 9.785px 48.926px 0 rgba(52, 51, 254, 0.05);
  backdrop-filter: blur(5px);
  padding: 25px 35px 35px;
  display: flex;
  flex-direction: column;
}
.linno-partof-us .single-partof-us h3 {
  color: #0B0A3D;
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 23px;
}
.linno-partof-us .single-partof-us .partof-us-iamge {
  position: relative;
  margin-top: auto;
}
.linno-partof-us .single-partof-us .partof-us-iamge:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--linno-primary-color);
  border-radius: 14px;
}
.linno-partof-us .single-partof-us .partof-us-iamge img {
  border-radius: 14px;
  display: block;
  transform-origin: center center;
  transform: rotate(-3deg);
  width: 100%;
}
.linno-partof-us .linno-section-separator {
  margin-top: 80px;
}

@media screen and (max-width: 1399px) {
  .linno-about-page .linno-partof-us {
    padding: 70px 0 100px;
  }
  .linno-partof-us .single-partof-us {
    padding: 20px 30px 30px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-about-page .linno-partof-us {
    padding: 60px 0 80px;
  }
  .linno-partof-us .linno-section-separator {
    margin-top: 50px;
  }
  .linno-partof-us .single-partof-us {
    padding: 20px 24px 24px;
    border-radius: 14px;
  }
  .linno-partof-us .single-partof-us h3 {
    font-size: 20px;
  }
  .linno-partof-us .single-partof-us .partof-us-iamge:before {
    border-radius: 10px;
  }
  .linno-partof-us .single-partof-us .partof-us-iamge img {
    border-radius: 10px;
  }
}
@media screen and (max-width: 991px) {
  .linno-about-page .linno-partof-us {
    padding: 50px 0 60px;
  }
  .linno-partof-us .linno-section-separator {
    margin-top: 40px;
  }
  .linno-partof-us .partof-us-wrapper {
    gap: 14px;
  }
  .linno-partof-us .single-partof-us {
    padding: 16px 18px 18px;
    border-radius: 14px;
  }
  .linno-partof-us .single-partof-us h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .linno-partof-us .partof-us-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .linno-partof-us .single-partof-us h3 {
    font-size: 22px;
  }
  .linno-partof-us .single-partof-us {
    padding: 24px 30px 30px;
  }
}
@media screen and (max-width: 575px) {
  .linno-partof-us .single-partof-us h3 {
    font-size: 18px;
  }
  .linno-partof-us .single-partof-us {
    padding: 16px 18px 18px;
  }
}
.linno-career-page .linno-career-hero {
  padding: 120px 0 90px;
}

.linno-career-hero .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}
.linno-career-hero .linno-section-title {
  width: calc(50% - 50px);
  max-width: 540px;
  margin-bottom: 0;
}
.linno-career-hero .linno-section-title h1 {
  color: #0F0E55;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}
.linno-career-hero .linno-about-description {
  max-width: 505px;
  width: 50%;
}
.linno-career-hero .linno-about-description p {
  color: #585A65;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.linno-career-hero .linno-about-description .linno-section-cta {
  text-align: left;
}
.linno-career-hero .linno-about-description .linno-section-cta .linno-cta-btn {
  gap: 30px;
}

@media screen and (max-width: 1399px) {
  .linno-career-page .linno-career-hero {
    padding: 100px 0 90px;
  }
  .linno-career-hero .linno-section-title h1 {
    font-size: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-career-page .linno-career-hero {
    padding: 70px 0 70px;
  }
  .linno-career-hero .linno-section-title h1 {
    font-size: 50px;
  }
  .linno-career-hero .linno-about-description p {
    font-size: 18px;
  }
  .linno-career-hero .linno-about-description .linno-section-cta .linno-cta-btn {
    gap: 8px;
  }
}
@media screen and (max-width: 991px) {
  .linno-career-hero .content-wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .linno-career-hero .linno-section-title {
    width: 100%;
    max-width: 100%;
  }
  .linno-career-hero .linno-section-title h1 {
    font-size: 42px;
  }
  .linno-career-hero .linno-about-description {
    max-width: 100%;
    width: 100%;
  }
  .linno-career-hero .linno-about-description p {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .linno-career-page .linno-career-hero {
    padding: 50px 0 60px;
  }
  .linno-career-hero .linno-section-title h1 {
    font-size: 40px;
  }
}
.linno-career-page .why-linno {
  padding: 75px 0 90px;
}

.why-linno .linno-section-title p {
  max-width: 1100px;
}
.why-linno .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.why-linno .content-wrapper .content-left {
  width: calc(50% - 25px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  row-gap: 70px;
}
.why-linno .content-wrapper .content-right {
  width: calc(50% - 25px);
}
.why-linno .content-wrapper .image-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 14px;
}
.why-linno .content-wrapper .image-wrapper img {
  display: block;
  border-radius: 16px;
}
.why-linno .content-wrapper .image-left {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 14px;
}
.why-linno .content-wrapper .single-content {
  max-width: 270px;
}
.why-linno .content-wrapper .single-content h3 {
  color: #0B0A3D;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: -0.396px;
  margin-top: 28px;
}
.why-linno .content-wrapper .single-content p {
  color: #585A65;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 14px;
}

@media screen and (max-width: 1399px) {
  .why-linno .content-wrapper .single-content h3 {
    font-size: 24px;
  }
  .why-linno .content-wrapper .content-left {
    gap: 50px;
    row-gap: 50px;
  }
}
@media screen and (max-width: 1199px) {
  .linno-career-page .why-linno {
    padding: 55px 0 70px;
  }
  .why-linno .content-wrapper .content-left {
    gap: 30px;
    row-gap: 40px;
  }
  .why-linno .content-wrapper .single-content h3 {
    font-size: 20px;
  }
  .why-linno .content-wrapper .single-content p {
    margin-top: 6px;
  }
}
@media screen and (max-width: 991px) {
  .linno-career-page .why-linno {
    padding: 45px 0 60px;
  }
  .why-linno .content-wrapper {
    flex-direction: column-reverse;
  }
  .why-linno .content-wrapper .content-right {
    width: 100%;
  }
  .why-linno .content-wrapper .content-left {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .why-linno .content-wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .why-linno .content-wrapper .image-wrapper img {
    border-radius: 10px;
  }
  .why-linno .content-wrapper .content-left {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
  .why-linno .content-wrapper .single-content h3 {
    margin-top: 18px;
  }
}
.linno-career-page .linno-benefits {
  padding: 110px 0 120px;
}

/*# sourceMappingURL=home-scss.css.map */
