
@import './tailwind.css';
@import './default.css';
@import './footer.css';
@import './blog-post.css';

@import './home.css';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=Inter:wght@500&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.glass {
    @apply backdrop-blur-md bg-white/5 border border-white/10 px-[30px] py-[26px] relative rounded-[12px]  shadow-lg
}



@import './tailwind.css';
@import './default.css';
@import './footer.css';

@import './home.css';
@import './home-scss.css';
