/* @import '@/wordpress/base-styles/colors'; */
/* @import "../../node_modules/@wordpress/base-styles/colors";
@import "../../node_modules/@wordpress/base-styles/variables";
@import "../../node_modules/@wordpress/base-styles/mixins";
@import "../../node_modules/@wordpress/base-styles/breakpoints";
@import "../../node_modules/@wordpress/base-styles/animations";
@import "../../node_modules/@wordpress/base-styles/z-index";
@import "../../node_modules/@wordpress/block-library/src/style.scss";
@import "../../node_modules/@wordpress/block-library/src/theme.scss"; */


@import './tailwind.css';
@import './default.css';
@import './footer.css';
@import './blog-post.css';

@import './home.css';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Inter:wght@500&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.glass {
    @apply backdrop-blur-md bg-white/5 border border-white/10 px-[30px] py-[26px] relative rounded-[12px]  shadow-lg
}



@import './tailwind.css';
@import './default.css';
@import './footer.css';

@import './home.css';
@import './home-scss.css';
