@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Inter:wght@500&display=swap');

body {
  font-family: 'Sora', 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.glass {
  @apply bg-transparent backdrop-blur-md rounded-xl p-6 text-left hover:scale-110 transition-all duration-300 border-l border-r border-t-0 border-b-0 border-[1px] border-l-[rgb(70_68_210/0.62)] border-r-[rgba(255,255,255,0.48)]
}