.linno-career-page {
    .linno-culture {
        padding: 80px 0 0;
        background-color: #fff;
    }
}

.linno-culture {
    .linno-section-title {
        margin-top: 70px;
        margin-bottom: 3px;
    }

    .linno-culture-gallery-wrapper {
        position: relative;
        padding: 74px 0;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
        background: transparent;
        width: 100%;
        
        .gallery-container {
            overflow: hidden;
            width: 100%;
            position: relative;
        }

        .gallery-shape {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            width: 110%;
            height: 140px;
            background-color: #fff;
            border-radius: 100%;

            &.top-shape {
                top: 0;
            }

            &.bottom-shape {
                bottom: 0;
            }
        }
    }

    .linno-culture-gallery {
        display: flex;
        gap: 48px;
        width: max-content;
        animation: marquee 50s linear infinite;

        &:hover {
            animation-play-state: paused;
        }
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-20%);
        }
    }

}


@media screen and (max-width: 1399px) {
    .linno-culture .linno-culture-gallery {
        gap: 28px;
    }

    .linno-culture .linno-culture-gallery-wrapper {
        padding: 44px 0;
    }

    .linno-culture .linno-culture-gallery-wrapper .gallery-shape {
        height: 110px;
    }

    .linno-culture .linno-culture-gallery-wrapper figure img {
        width: 320px;
    }

}

@media screen and (max-width: 1199px) {
    .linno-career-page .linno-culture {
        padding: 60px 0 0;
    }
    .linno-culture .linno-section-title {
        margin-top: 40px;
    }

    .linno-culture .linno-culture-gallery-wrapper {
        padding: 38px 0;
    }
    .linno-culture .linno-culture-gallery {
        gap: 16px;
    }
    .linno-culture .linno-culture-gallery-wrapper figure img {
        width: 280px;
    }

}

@media screen and (max-width: 991px) {
    .linno-culture .linno-culture-gallery-wrapper .gallery-shape {
        height: 80px;
    }
    .linno-culture .linno-culture-gallery-wrapper figure img {
        width: 210px;
        height: auto;
    }

}

@media screen and (max-width: 767px) {
    .linno-culture .linno-culture-gallery-wrapper .gallery-shape {
        height: 50px;
    }
    .linno-culture .linno-culture-gallery-wrapper figure img {
        width: 160px;
    }


}

@media screen and (max-width: 575px) {
    .linno-culture .linno-culture-gallery-wrapper figure img {
        width: 110px;
    }
    .linno-culture .linno-culture-gallery {
        gap: 8px;
    }

}