.linno-career-page {
    .why-linno {
        padding: 75px 0 90px;
    }
}

.why-linno {
    .linno-section-title p {
        max-width: 1100px;
    }

    .content-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 50px;
        justify-content: space-between;

        .content-left {
            width: calc(50% - 25px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 80px;
            row-gap: 70px;
        }

        .content-right {
            width: calc(50% - 25px);
        }

        .image-wrapper {
            display: flex;
            align-items: flex-end;
            gap: 14px;

            img {
                display: block;
                border-radius: 16px;
            }
        }

        .image-left {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            gap: 14px;
        }

        .single-content {
            max-width: 270px;

            h3 {
                color: #0B0A3D;
                font-size: 26px;
                font-weight: 700;
                line-height: 1.33;
                letter-spacing: -0.396px;
                margin-top: 28px;
            }

            p {
                color: #585A65;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.6;
                margin-top: 14px;
            }
        }

    }

}


@media screen and (max-width: 1399px) {
    .why-linno .content-wrapper .single-content h3 {
        font-size: 24px;
    }
    .why-linno .content-wrapper .content-left {
        gap: 50px;
        row-gap: 50px;
    }

}

@media screen and (max-width: 1199px) {
    .linno-career-page .why-linno {
        padding: 55px 0 70px;
    }

    .why-linno .content-wrapper .content-left {
        gap: 30px;
        row-gap: 40px;
    }
    .why-linno .content-wrapper .single-content h3 {
        font-size: 20px;
    }
    .why-linno .content-wrapper .single-content p {
        margin-top: 6px;
    }
    

}

@media screen and (max-width: 991px) {
    .linno-career-page .why-linno {
        padding: 45px 0 60px;
    }
    
    .why-linno .content-wrapper {
        flex-direction: column-reverse;
    }

    .why-linno .content-wrapper .content-right {
        width: 100%;
    }
    .why-linno .content-wrapper .content-left {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {
    

}

@media screen and (max-width: 575px) {
    .why-linno .content-wrapper {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .why-linno .content-wrapper .image-wrapper img {
        border-radius: 10px;
    }
   
    .why-linno .content-wrapper .content-left {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .why-linno .content-wrapper .single-content h3 {
        margin-top: 18px;
    }

}